@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  height: 100vh;
}
.Header__content {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Main__content {
  height: 80vh;
}
.Footer__content {
  height: 10vh;
  text-align: center;
}
.input {
  width: 20rem;
  border: none;
  margin-right: 2rem;
}
.Form__content {
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 2rem;*/
}
.Header__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.title {
  color: white !important;
}
.Main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001529;
}

.Footer__content {
  background-color: #001529;
}